.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #570e54;
    color: #fff;
  }
  .btn{
    margin: 0 5px;
    border: none;
    padding: 3px;
    background-color: rgb(238, 238, 85);
    color: #584f4f;

  }
  .btn:hover{
    background-color: rgb(156, 156, 71);
    color: #ffffff;

  }

  .card-header span{
    margin-right: auto;
    font-size: 17px;
  }
